html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    padding: 0%;
    margin: 0%;
}

.header {
    width: 100%;
    height: 750px;
    background-image: url(../banner-chess.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.overlay {
    width: 100%;
    height: 640px;
    background-color: #00ff0025;
}

.header .overlay .content {
    margin: 67px;
    padding: 5%;
    color: white;
}

.header .overlay .content h1 {
    font-size: 55pt;
}

.header .overlay .content h4 {
    font-size: 25pt;
}

h3 {
    font-size: 35pt;
}

.primary {
    background-color: #00ff00;
    color: #ffff;
}

.secondary {
    background-color: #ffff;
    color: #0000;
}

.tertiary {
    background-color: #0000;
    color: #ffff;
}

.btn {
max-width: 100%;
height: 45px;
border: none;
border-radius: 10px;
font-size: 13pt;
padding: 15px;
}

.btn:hover {
box-shadow: 5px 5px 8px 0px #032905;
background-color: #1d911d60;
border: 3px #0000 solid;
}

.main {
    width: 100%;
    height: auto;
}

.main .content {
    padding-left: 8%;
    padding-right: 8%;

}

.main .content .intro {
display: flex;
}

.image1 {
    width: 75%;
    height: 90%;
    padding: 0%;
}

.intro .about {
    margin-left: 10%;
    font-style: italic;
}

.intro .about h2 {
    font-size: 50pt;
    font-family: 'Times New Roman', Times, serif;
    color: #076604;

}

.head4 {
    flex: 1;
    font-style: italic;
}

.head4 h4 {
    font-size: 30pt;
    font-weight: 900;
    color: rgb(51, 50, 50);
}

.servcs {
    display: flex;
    justify-content: space-between;
    font-style: italic;
}

.servcs .games h2 {
    font-size: 25pt;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(235, 108, 18);

}

.servcs .games h2:hover {
    text-decoration: underline;
}

.servcs .chores h2 {
    font-size: 25pt;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(235, 108, 18);
    /* text-align: center; */
    margin-left: 10%;
    width: 38%;
}

.servcs .chores h2:hover {
    text-decoration: underline;
}

/* .servcs .games {
    background-color: #5eec5a;
    height: auto;
    padding: 10%;
} */

.servcs .games ul {
    /* list-style: url(../images\ \(3\).jpeg); */
    font-size: 16pt;
    color: rgb(41, 90, 12);

}

.servcs .chores ul {
    font-size: 16pt;
    color: rgb(41, 90, 12);
}

.intron {
    display: block;
    /* background-color: #a5f5a5; */
    height: 700px;
}

.image2 {
    width: 50%;
    height: 70%;
    padding: 0%;
    float: right;
}

.intron .other h2 {
    font-size: 48pt;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #0e23dd;
    font-style: italic;
}

.intron .other h5 {
    font-size: 25pt;
    font-style: italic;
    color: rgb(41, 90, 12);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    justify-content: center;
}

.introz {
    display: flex;
    padding: 0%;
    margin: 0%;
    height: 700px;
}

.image3 {
    width: 50%;
    height: 70%;
    padding: 0%;
}


.introz .aboutan h2 {
    font-size: 45pt;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #0c9707;
    font-style: italic;
}

.introz .aboutan h5 {
    font-size: 25pt;
    font-style: italic;
    color: rgb(24, 36, 17);
    font-family: 'Times New Roman', Times, serif;
}

.aboutcode {
    width: 100%;
    height: 900px;
    background-image: url(../piano-header.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.lastmenu {
    display: flex;
    flex-wrap: nowrap;
    height: 50px;
    width: 100%;
    background-color: #1429a1;
    justify-content: space-between;
    /* position: fixed; */
    bottom: 0;
    padding: 0%;
    margin: 0%;
}

.social {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    margin: 10px;
   
}

.social .media {
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 25px;

}

.info {
    padding-left: 10%;
    color: #ffff;
    font-size: 15pt;
    margin: 15px;
}

.Contactcode {
    width: 100%;
    height: auto;
}

.findus {
    width: 50%;
    height: auto;
}

.Query {
    width: 60%;
    height: auto;
    float: right;
    justify-content: center;
    
}
.Query1 {
    width: 100%;
    height: auto;
    display: flex;
}

.Query .Fname {
    width: 49%;
    height: auto;
    margin: 1%;
}

.Query .Lname {
    width: 49%;
    height: auto;
    margin: 1%;
}

.Query .Email {
    width: 99%;
    height: auto;
    margin: 1%;
}

.contact {
    font-family: 'Times New Roman', Times, serif;
    font-size: 23pt;
    color: #dd0e2a;
    width: 10%;
}

.contact:hover {
    text-decoration: underline;
    color: #16af11;
}

.intel {
    font-size: 15pt;
    color: gray;
}

.form-input {
    color: rgb(2, 2, 2);
    border: gray 2px solid;
    width: 95%;
    background-color: rgb(238, 234, 234);
    font-size: 11pt;
    padding: 2%;
    border-radius: 3px;
    
}

.form-input:hover {
    border: rgb(255, 1, 1) 2px solid;
    
}


.Query .messege {
    width: 99%;
    height: auto;
    margin: 1%;
}

textarea {
    background-color: rgb(238, 234, 234);
    border: gray 2px solid;
    border-radius: 4px;
    margin-right: 2%;
}

textarea:hover {
    border: rgb(255, 1, 1) 2px solid;


}

